.dropdown {
  margin: 10px;
}
.dropdown-content {
  display: none;

  background-color: #f9f9f9;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

/*.dropdown:hover .dropdown-content {
  display: block;
}*/

.button:hover {
  background-color: #32b5f9;
  color: white;
}

.button {
  background-color: #ffffff; /* Green */
  color: black;
  text-align: center;
  font-size: 20px;
  margin: 8px 20px;
  cursor: pointer;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 3px;
}
.card-container {
  width: 100%;
}
.show {
  display: block;
}
